body {
  font-family: Arial;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  background-color: bisque;
}

#workerList div {
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 6px;
}
